# Python関連
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# 環境変数ファイル
.env

# データファイル
data

# その他の無視したいファイルやディレクトリ
*.log
*.sqlite3
*.cfg

.devcontainer
.vscode

test.ipynb
Chatbot/lib
Chatbot/share
Chatbot/include
Chatbot/bin
Chatbot/etc
cf-cli_7.4.0_linux_x86-64.deb
wget-log