# Python関連
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# 環境変数ファイル
.env

# データファイル
data

# その他の無視したいファイルやディレクトリ
*.log
*.sqlite3
*.cfg
*.devcontainer
*.vscode

# Chatbot関係
test.ipynb
Chatbot/lib
Chatbot/share
Chatbot/include
Chatbot/bin
Chatbot/etc
Chatbot/*.yml
Chatbot/web
Chatbot/.cfgnore
Chatbot/xs-security.json

# NodeJS_practice関係
NodeJS_practice/web-server/node_modules

# Agent_Streamlit関係
Agent_Streamlit/.env
Agent_Streamlit/Agent_Streamlit_venv

# Computer Use関連
computer_use_demo