# Python関連
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# 環境変数ファイル
.env

# データファイル
data

# その他の無視したいファイルやディレクトリ
*.log
*.sqlite3
src/test.ipynb
Chatbot_flask
lib
bin
pyvenv.cfg